################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Temp
/obj
/Logs
/Library
/Chess.sln
/Assembly-CSharp.csproj
/.vsconfig
/.vs
